<a-scene #scene raycaster="objects: .raycastable">

  <!--  preload scene assets-->
  <a-assets>
<!-- Todo: dynamically load other player image uri  -->
  </a-assets>
 
  <!-- Valid preset values: none, default, contact, egypt, checkerboard, forest, goaland, yavapai, goldmine, threetowers, poison, arches, tron, japan, dream, volcano, starry, osiris -->
  <a-sky environment="preset:threetowers"></a-sky> 

  <!--  camera rig   -->
  <a-camera #camera>
    <a-entity cursor="fuse: true; fuseTimeout: 5000" position="0 0 -0.5"
      geometry="primitive: ring; radiusInner: 0.02; radiusOuter: 0.03" material="color: black; shader: flat"
      animation__fusing="property: scale; startEvents: fusing; easing: easeInCubic; dur: 5000; from: 1 1 1; to: 0.1 0.1 0.1">
    </a-entity>
  </a-camera>

  <!-- microphone input controller -->
  <a-torus id="leave-btn" (click)="leaveVoice()" position="-1 30 -3" rotation="0 30 0" radius="0.75" height="2"
    color="#4CC3D9"></a-torus>
  <a-torus id="join-btn" (click)="joinVoice()" position="1 30 -3" rotation="0 150 0" radius="0.75" height="2"
    color="#EF2D5E"></a-torus>
  <a-torus id="mic-btn" (click)="muteInput()" position="0 30 -4.75" rotation="0 90 0" radius="0.75" height="2"
    color="#FFC65D"> </a-torus>

  <!--  players  -->
  <a-entity geometry="primitive: box" id="{{user.id}}" *ngFor="let user of users" #player></a-entity>
  <!-- <a-entity id="{{user.id}}" *ngFor="let user of users" #player>
    <a-gltf-model src="#avatar" rotation="0 90 0"  scale="0.005 0.005 0.005" animation-mixer="clip:Take 001; crossFadeDuration: 1">  
    </a-gltf-model>
  </a-entity> -->   

  <!--  portals  -->
  <a-sphere scale="2 3 1"></a-sphere>






 
</a-scene>

<!-- TODO: copy and paste a multiplayer scene where there are portals on the floor that render recommended profiles-->
<!-- TODO: implement a body collision with portal to enter a video scene that renders livepeer video -->
<!-- TODO: update lens protocol to allow for publications in the form of livepeer -->
<!-- TODO: portals should have a mouse enter function that allows you to view popup and follow the creator -->
