<a-scene #scene reflection>
    <!--  preload scene assets  -->
    <a-assets id="assets"></a-assets>
    <a-assets>
        <a-image id="grass" src="../../assets/textures/grass.jpg"></a-image>
        <a-cubemap id="grass-map">
            <img crossorigin="anonymous" src="../../assets/textures/grass.jpg">
            <img crossorigin="anonymous" src="../../assets/textures/grass.jpg">
            <img crossorigin="anonymous" src="../../assets/textures/grass.jpg">
            <img crossorigin="anonymous" src="../../assets/textures/grass.jpg">
            <img crossorigin="anonymous" src="../../assets/textures/grass.jpg">
            <img crossorigin="anonymous" src="../../assets/textures/grass.jpg">
        </a-cubemap>
        <a-mixin id="hover" material="color: white; shader: flat"
            animation__scale="property: scale; to: 1.2 1.2 1.2; dur: 200; startEvents: mouseenter"
            animation__scale_reverse="property: scale; to: 2 .8 1; dur: 200; startEvents: mouseleave"></a-mixin>
    </a-assets>

    <!--  sky and ground  -->
    <a-sky color="#4CC3D9" environment="preset:threetowers"></a-sky>
    <a-plane position="0 -1 -4" rotation="-90 0 0" width="199" height="199"
        material="color: #7BC8A4; shader: flat; src: #grass"></a-plane>

    <!--  camera rig   -->
    <a-camera #camera position="0 1.6 -0.55">
        <a-entity cursor="fuse: true; fuseTimeout: 5000" position="0 0 -0.5"
            geometry="primitive: ring; radiusInner: 0.02; radiusOuter: 0.03" material="color: black; shader: flat"
            animation__fusing="property: scale; startEvents: fusing; easing: easeInCubic; dur: 5000; from: 1 1 1; to: 0.1 0.1 0.1">
        </a-entity>
        <!--  avatar  -->
        <a-entity id="avatar-container" position="0 -1.6 0.55"></a-entity>

    </a-camera>

    <!--  mirror  -->
    <a-entity>
        <a-plane id="mirror" scale="2 3 1" position="0 1.5 -4" material="metalness: 1; roughness: 0" rotation="0 0 0"
            camera-cube-env>
        </a-plane>
        <a-plane id="mirror" scale="2 3 1" position="-1.96 1.5 -3.74" material="metalness: 1; roughness: 0"
            rotation="0 15 0" camera-cube-env>
        </a-plane>
        <a-plane id="mirror" scale="2 3 1" position="1.96 1.5 -3.74" material="metalness: 1; roughness: 0"
            rotation="0 345 0" camera-cube-env>
        </a-plane>
    </a-entity>

    <!--  start button  -->
    <a-plane position="0 3.75 -4" scale="2 .8 1" (click)="handleClickStart()" mixin="hover">
        <a-text value=" Start!" position="-.5 0 0" color="#000000" scale="1.5 3 1"> </a-text>
    </a-plane>
</a-scene>